
.container {
    padding: 20px;
    height: calc(100% - 40px);
    background-color: rgb(198, 214, 227);
}

.contenedor{
    display: flex;
    justify-content: center;
    padding: 10px;

}

.ag-theme-quartz{
    --ag-row-hover-color: rgb(131, 131, 131);
    --ag-header-background-color: rgb(107, 128, 197);
}

.question{
    text-align: left;
}

.separator{
    padding-top: 10px;
    text-align: center;
}

.check{
    background-color: rgb(200, 201, 199);
}

.text{
    color: rgb(0, 32, 91);
}

.btnnn{
    background-color: rgb(183, 206, 149);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: rgb(183, 206, 149);

}