<div class="container">
    <h2>Check your visits</h2>
    <div class="card">
        <div class="card">
            <ag-grid-angular class="ag-theme-quartz" style="height: 400px;"
              [rowData]="rowData"
              [columnDefs]="colDefs"
              [defaultColDef]="defaultColDef">
            </ag-grid-angular>
        </div>
        <div class = "contenedor">
            <h3>Do you want to create a new visit?</h3>
            <button mat-raised-button class="btn btn-dark" (onClick)="navCreateVisit()">
                Create visit
            </button>
        </div>
    </div>
</div>
