.title{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.container {
    padding: 20px;
    height: calc(80svh - 40px);
}

.division2 {
    padding-top: 5px;
    text-align: left;
    padding-bottom: 10px;
}

.pad {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.info {
    padding-top: 20px;
    text-align: right;
    padding-left: 10px;
}
.btnNO{
    
    color: rgb(236, 8, 8);
    border-radius: 5px;
    height: calc(10svh - 65px);
}

.btnYES{
    background-color: rgb(8, 155, 8);
    color: white;
    border-radius: 5px;
    height: calc(10svh - 65px);
}
.example-button-row {
    display: table-cell;
    max-width: 600px;

  }