<div class="title">
    <h1>Cabin</h1>
  </div>
  <div class="separator">
  <mat-card appearance="outlined" class="separator">
    <mat-card-header>
      <div>
        <h2>Company #1</h2>
        <h4>Visit code: 101010</h4>
      </div>
    </mat-card-header>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Daniel Tellez</mat-card-title> 
      </mat-card-header>
      <mat-card-content>
        Curp: TEMD031812HCHLGNA0
        <div>
          Phone number: 656-107-4675
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="navEdit()">Edit</button>
      </mat-card-actions>
    </mat-card>
  </mat-card>
  <div class="boton">
    <button mat-flat-button (click)="navPrint()">OK</button>
  </div>
  </div>
