<div class="title">
  <mat-toolbar class="upper">
      <img src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoibWFobGVcL2ZpbGVcLzFMM1U3UzhTbURoRXdRNFh3UTd0LmpwZyJ9:mahle:QP40YBFdxrjbOLohQw4wTrLuTtJfZJQ5bGuNwMnDHLs?width=800" width="180" height="70"
          class="d-inline-block align-text-top">
      <span class="example-spacer"></span>
      <button mat-fab extended class="btnnn" (click)="logOff()">
          <mat-icon>logout</mat-icon>
          Log-out
      </button>
  </mat-toolbar>
  <div class="text">
      <h1>Cabin</h1>
  </div>
  <div class="separator">
      <mat-card appearance="outlined" class="info">
          <mat-card-header>
              <div class="CardNum">
                  <h2>Company #1</h2>
                  <h4>Visit code: 101010</h4>
              </div>
          </mat-card-header>
          <mat-card appearance="outlined" class="CardInt">
              <mat-card-header>
                  <mat-card-title >Daniel Tellez</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <div class="CardNum">
                      Phone number: 656-107-4675
                  </div>
              </mat-card-content>
              <mat-card-actions align="end">
                  <button mat-button class="EditBtn" (click)="navEdit()">Edit</button>
              </mat-card-actions>
          </mat-card>
      </mat-card>
      <div class="boton">
          <button mat-button class="OKBtn" (click)="navPrint()">OK</button>
      </div>
  </div>
</div>