.container {
    padding: 20px;
    height: calc(100% - 40px);
    background-color: rgb(200, 201, 199);
}

.btnnn{
    padding-left: 5px;
    color: rgb(142, 58, 128);
}

.dialog{
    background-color: rgb(200, 201, 199);
}

.text{
    color: rgb(0, 32, 91);
}

.title{
    text-align: center;
    color: black;
}

.separator{
    padding-top: 20px;
    color: black;
}

.card{
    background-color: rgb(65, 182, 230);
}