<div class="title">
  <h1>Visitor</h1>
</div>
  <mat-card appearance="outlined">
    <mat-card-header  class="center">
      <div class="separator">
      <mat-card-title>Upss... we have an error.</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content class="text">The request for accommodation has been sent to Reception, please come to the counter and wait for instructions</mat-card-content>
    <mat-card-actions align="end">
      <div class="separator">
        <button mat-button (click)="navConfirm()">Ready</button>
      </div>
    </mat-card-actions>
  </mat-card>
