<div class="container">
    <h2>Visitor</h2>
    <h4>Create a new visitor</h4>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="card-body">
                    <label class="form-label">
                        Name
                    </label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Please enter your name">
                    <div class="errors-container"
                        *ngIf="nameControl.invalid && (nameControl.touched) || nameControl.dirty">
                        <p class="error-msg" *ngIf="nameControl.hasError('required')" style="color: #bd0c0c">The field must be required.</p>
                    </div>
                </div>

                <div class="card-body">
                    <label class="form-label">
                        Last name
                    </label>
                    <input type="text" formControlName="LName" class="form-control"
                        placeholder="Please enter your last name">
                    <div class="errors-container"
                        *ngIf="LnameControl.invalid && (LnameControl.touched) || LnameControl.dirty">
                        <p class="error-msg" *ngIf="LnameControl.hasError('required')" style="color: #bd0c0c">The field must be required.</p>
                    </div>
                </div>

                <div class="card-body">
                    <label class="form-label">
                        E-mail
                    </label>
                    <input type="email" formControlName="email" class="form-control"
                        placeholder="Please enter your email">
                    <div class="errors-container"
                        *ngIf="emailControl.invalid && (emailControl.touched) || emailControl.dirty">
                        <p class="error-msg" *ngIf="emailControl.hasError('required')" style="color: #bd0c0c">The field must be required.</p>
                        <p class="error-msg" *ngIf="emailControl.hasError('email')" style="color: #bd0c0c">The field must be a valid email.</p>
                    </div>
                </div>

                <div class="card-body">
                    <label class="form-label">
                        CURP
                    </label>
                    <input type="text" formControlName="LName" class="form-control"
                        placeholder="Please enter your CURP">
                    <div class="errors-container"
                        *ngIf="CurpControl.invalid && (CurpControl.touched) || CurpControl.dirty">
                        <p class="error-msg" *ngIf="CurpControl.hasError('required')" style="color: #bd0c0c">The field must be required.</p>
                    </div>
                </div>

                <div class="card-body">
                    <label class="form-label">
                        Cellphone Number
                    </label>
                    <input type="text" formControlName="LName" class="form-control"
                        placeholder="Please enter your cellphone">
                    <div class="errors-container"
                        *ngIf="TelControl.invalid && (TelControl.touched) || TelControl.dirty">
                        <p class="error-msg" *ngIf="TelControl.hasError('required')" style="color: #bd0c0c">The field must be required.</p>
                    </div>
                </div>

                <div class="container">
                    <div class="card">
                        <button class="btn btn-dark" type="submit" [disabled]="ClientForm.invalid">
                            Send
                        </button>
                    </div>
                </div>
                <div class="container">
                    <button mat-button class="a" routerLink="/CreateVisit">« Get back</button>
                </div>
            </form>
        </div>
    </div>
</div>