.division {
    padding-top: 50px;
    text-align: center;

}

.division2 {
    padding-top: 5px;
    text-align: left;
    padding-bottom: 10px;
}

.container {
    padding: 20px;
    height: calc(80svh - 40px);
}

.a {
    background-color: rgb(3, 133, 3);
    color: rgb(252, 252, 252);
    border-radius: 5px;
    border-color: rgb(3, 133, 3);
    height: calc(10svh - 65px);
}


.visit {
    padding-bottom: 100px;
    text-align: center;
}

.content {
    height: calc(100svh - 98px);
    border-radius: 10px;
    padding: 16px;
    max-width: 1520px;
    margin: 0 auto;
    font-size: 16px;
}

.example-card {
    max-width: 400px;
    padding-left: 5px;
}

.pad {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.info {
    padding-top: 20px;
    text-align: right;
    padding-left: 10px;
}
.btnNO{
    
    color: rgb(236, 8, 8);
    border-radius: 5px;
    height: calc(10svh - 65px);
}

.btnYES{
    background-color: rgb(8, 155, 8);
    color: white;
    border-radius: 5px;
    height: calc(10svh - 65px);
}
.example-button-row {
    display: table-cell;
    max-width: 600px;

  }