<div class="title">
    <h1>Reception</h1>
  </div>
  
    <mat-card appearance="outlined">
      <mat-card-header  class="center">
        <div class="separator">
        <mat-card-title>All ready...</mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content class="text">The temporary badges have been printed, check the printer and give the sticker to the corresponding person.</mat-card-content>
      <mat-card-actions align="end">
        <div class="separator">
          <button mat-button>Ready</button>
        </div>
      </mat-card-actions>
    </mat-card>
