.example-spacer{
    flex: 1  0 auto;
}

.upper {
    background-color: rgb(237, 237, 237);
}

.btnnn {
    background-color: rgb(30, 42, 99);
    color: white;
}

.title{
    padding-top: 80px;
    text-align: center;
    padding-bottom: 100px;
}

.center{
    justify-content: center;
}

.text{
    text-align: center;
}

.separator{
    padding-top: 100px;
}

.page{
    background-color: rgb(255, 255, 255);
}

.color{
    background-color: rgb(198, 214, 227);
    border-radius: 5px;
}

.btnReady{
    color: black;
    background-color: rgb(67, 176, 42);
    border-radius: 5px;
}